* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
}

body {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.618em;
    color: #424242;
}

a {
    text-decoration: none;
}

img {
    width: 80%;
    max-width: 180px;
}

hr {
    height: 1px;
    background: #ddd;
    border: none;
}

main {
    margin: 0 auto;
    max-width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    transition: .25s;
}

tr:hover {
    background: #eee;
}

td:first-child {
    text-align: left;
}

td:last-child {
    width: 50px;
}

.footer {
    font-size: .75em;
}

.footer a {
    font-weight: bold;
}

.footer span {
    margin: 0 5px;
}