* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
}

body {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.618em;
    background: #eceff1;
    color: #424242;
}

aside {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    background: #eceff1;
}

aside .warning-container h2 {
    margin: 0 auto 15px;
}

aside .warning-container p {
    margin: 0 auto 30px;
}

aside .warning-container a {
    padding: 10px 15px;
    background: transparent;
    color: #7879b9;
    transition: .25s;
}

aside .warning-container a:last-child {
    margin-left: 5px;
    background: #7879b9;
    color: #fff;
    border: solid 2px #7879b9;
    border-radius: 5px;
}

aside .warning-container a:last-child:hover {
    background: transparent;
    color: #7879b9;
}

header .profile-container {
    width: 120px;
    height: 120px;
    margin: 15px auto;
    padding: 3px;
    background: #fff;
    border: solid 2px #ddd;
    border-radius: 50%;
}

header .profile-container img {
    width: 100%;
    height: 100%;
    border: solid 1px #ddd;
    border-radius: 50%;
    transition: transform .25s;
}

header .profile-container img:hover {
    transform: rotate(15deg);
}

header h1 {
    font-size: 28px;
}

header p {
    margin: 0 auto 30px;
    padding: 0 15px;
}

section ul {
    padding: 0;
    list-style: none;
}

section ul li {
    margin: 0 auto;
}

section ul li:not(:first-child) {
    padding-top: 5px;
}

section ul li a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background: #7879b9;
    color: #fff;
    border: solid 2px #7879b9;
    border-radius: 5px;
    transition: .25s;
}

section ul li a:hover {
    background: transparent;
    color: #7879b9;
}

footer a {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    background: url(progate.png) center center no-repeat;
}

@media (min-width:700px) {

    header p,
    section ul li {
        width: 600px;
    }
}

@media (prefers-color-scheme: dark) {

    body,
    aside {
        background: #263238;
        color: #fff;
    }

    img {
        filter: grayscale(25%);
    }

    footer a {
        background: url(progate-white.png) center center no-repeat;
    }
}