@keyframes ninjawiggle {

    0%,
    100% {
        bottom: 50px;
    }

    50% {
        bottom: 52px;
    }
}

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
}

.ninjaken {
    display: block;
    position: fixed;
    z-index: 10000;
    left: -80px;
    bottom: 50px;
    width: 120px;
    height: 120px;
    background: url(ninjaken.png) center center no-repeat;
    background-size: contain;
    transform: rotate(-20deg);
    transition: .25s;
    animation: ninjawiggle .25s infinite;
}

.ninjaken:hover {
    left: -25px;
    transform: rotate(0);
    animation: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.618em;
    background: #fafafa;
    color: #424242;
}

.wrapper .header {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 50px auto;
}

.wrapper .header .top,
.wrapper .signup {
    padding: 40px 40px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    background: #fff;
}

.wrapper .header .logo img {
    display: block;
    margin: 0 auto 35px;
}

.wrapper .header .form .input-field {
    margin-bottom: 5px;
}

.wrapper .header .form .input-field .input {
    width: 100%;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #efefef;
    font-size: .75em;
    border-radius: 3px;
    color: #262626;
}

.wrapper .header .form .input-field .input:focus {
    border: 1px solid #b2b2b2;
}

.wrapper .header .form .btn {
    margin: 10px 0;
    background: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.wrapper .header .form .btn a {
    display: block;
    color: #fff;
}

.wrapper .header .or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    margin: 15px 0 20px;
}

.wrapper .header .or .line {
    width: 105px;
    height: 2px;
    background: #efefef;
}

.wrapper .header .or p {
    color: #999;
    font-size: .75em;
}

.wrapper .dif .gs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .dif .forgot {
    font-size: .75em;
    text-align: center;
    margin-top: 20px;
}

.wrapper .dif .forgot a {
    color: #003569;
}

.wrapper .signup {
    margin: 10px 0 20px;
    padding: 25px 40px;
    text-align: center;
    color: #262626;
}

.wrapper .signup a {
    color: #3897f0;
}

.wrapper .apps {
    text-align: center;
    color: #262626;
}

.wrapper .apps p {
    margin-bottom: 20px;
}

.wrapper .apps a img+img {
    margin-left: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer .links ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer .links ul li a {
    color: #003569;
    font-size: .75em;
}

.footer .copyright {
    color: #999;
}

.logged {
    display: none !important;
}